/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
body {
  background-color: #181818;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #00b7ff;
  cursor: pointer;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
nav {
  margin: 0 5% 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
}
nav a {
  margin: 2% 1%;
  padding: 5px 10px;
}
nav a:hover {
  background: #3e3e3e;
  font-weight: 700;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  nav a {
    padding: 2%;
    border-bottom: 1px solid #efefef;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
}
.header-mobile {
  margin: 5% 0;
  display: none;
}
.header-mobile h1 {
  text-align: center;
  color: #00b7ff;
}
.header-mobile h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fafafa;
  margin-top: 1%;
}
@media (max-width: 500px) {
  .header-mobile {
    display: block;
  }
}
.contact-info {
  background-image: url(../images/backg.jpg);
  /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url(../images/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  padding: 5% 0 5% 0;
  padding: 2%;
  width: 40%;
  color: #fafafa;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .contact-info {
    width: 100%;
  }
}
.contact-info .pict {
  width: 100%;
}
.contact-info .pict figure {
  margin: 0 auto;
  background-size: cover;
  background-image: url(../images/julian.JPG);
  width: 200px;
  height: 200px;
  border: 5px solid #181818;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
.contact-info .icons-col {
  width: 100%;
  padding: 2%;
}
.contact-info .icons-col h2 {
  text-align: left;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-bottom: 1%;
  border-bottom: 1px solid #fafafa;
  padding: 5%;
}
.contact-info .icons-col h3 {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #fafafa;
  margin: 1% 0;
}
.contact-info .icons-col p {
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
}
.contact-info .icons-col i {
  font-size: 2rem;
}
.contact-info .icons-col .box-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.contact-info .icons-col .box-icon .icon {
  width: 30%;
  padding: 5%;
  text-align: right;
}
.contact-info .icons-col .box-icon .jul-info {
  width: 70%;
  padding: 5%;
}
.resume {
  background-color: #fafafa;
  width: 60%;
  padding: 2%;
}
@media (max-width: 500px) {
  .resume {
    width: 100%;
  }
}
.resume .header-desk {
  border-bottom: 1px solid #fafafa;
  margin-bottom: 20%;
}
.resume .header-desk h1 {
  text-align: center;
  color: #00b7ff;
}
.resume .header-desk h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #313131;
  margin-top: 1%;
}
@media (max-width: 500px) {
  .resume .header-desk {
    display: none;
  }
}
.resume article .resume-box {
  background-color: #FFFFFF;
  padding: 5%;
  margin: 2% 0;
  border: 1px solid #efefef;
  border-radius: 5px;
}
.resume article .resume-box h2 {
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #313131;
  margin: 2% 0;
}
.resume article .resume-box h2 i {
  margin-right: 5px;
}
.resume article .resume-box p {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1%;
}
.resume article .resume-box hr {
  border: none;
  width: 50%;
  border-bottom: 1px solid #313131;
  margin: 5% auto;
}
.resume article .resume-box strong {
  font-weight: bold;
}
.resume article .resume-box ul {
  list-style-type: square;
  list-style-position: outside;
  margin: 5px;
}
.resume article .resume-box ul li {
  margin: 2% 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
footer {
  background-color: #000000;
  text-align: center;
  padding: 5% 2% 5%;
}
footer h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fafafa;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
}
footer h6 i {
  margin-right: 10px;
}
